.slide-full {
    height: 100% !important;
}

ion-card {
    overflow: unset !important;
}

ion-card {
    height: 200px;
    width: 300px;
}

.slide-image {
    width: 100px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -50px;
}

ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row1 {
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(25, 0, 255, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(247, 247, 247, 0.8) 100%);
    background: linear-gradient(45deg, rgb(21, 23, 66) 0%, rgba(84, 74, 171, 0.8) 100%);
}